<tr id="<%= dom_id(task) %>">	
   <td><%= best_in_place task, :name, :type => :input, :nil => "Click to edit" %></td>

   <td><%= task.note %></td>
   <td><%= task.priority %></td>
   <td><%= link_to 'Show', task %></td>
   <td><%= link_to 'Edit', edit_task_path(task) %></td>
   <td><%= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete, :remote => :true %></td>
   <td><%= @test %>
</tr>